/* #ea8c85 */
/* #e3655b */
/* #de4a3f */

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to left bottom, 
  rgba(20,54,225,0.8) 0%, rgba(67,97,238,0.8) 35%, rgba(106,131,241,0.8) 100%),
  url(../assets/images/bg.jpg);
  /* background-image: linear-gradient(to right,  */
  /* rgba(234, 140, 133, 0.7), rgba(222, 74, 63, 0.7)),  */
  background-size: cover;
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );
  /* To make a circle */
  /* do this */
  /* clip-path: circle(50% at 50% 50%);  */
}

.logo-box {
 position: absolute; 
 top: 40px;
 left: 40px;
}

.logo {
  height: 100px;
}

.text-box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
}

.heading-primary-main {
  text-align: left;
  margin-bottom: 60px;
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 1;

  animation-name: moveInLeft;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  /* animation-delay: 1s; */
}

.heading-primary-sub {
  margin-left: 4px;
  text-align: left;
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 1;

  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px)
  }

  80% {
   transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
  
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px)
  }

  80% {
   transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
  
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
  
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}


.btn-animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}

